---
// Component Imports

// You can import components from any supported Framework here!
import ReactCounter from '../components/ReactCounter.jsx';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">


</head>
<body>
  <h1>index page</h1>
  <ReactCounter client:visible />

</body>
</html>
